@inject IAuthService authService;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[Constants.PageTitle]</title>
    <link rel="icon" href="~/images/Leaves01_192.png" />

    <environment include="Development">
        <link rel="stylesheet" href="~/css/layout.css" />
        <link rel="stylesheet" href="~/css/home.css" />
        <link rel="stylesheet" href="~/css/businesses.css" />
        <link rel="stylesheet" href="~/css/contact.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <script src="~/js/bundle.js" asp-append-version="true"></script>
    <script src="~/js/init.js" asp-append-version="true"></script>
</head>
<body>
    <div id="column-container" class="column-container">
        <div class="center-column">
            <div class="header">
                <div class="site-title">@T.GetMap("Health Findings")</div>
                <div class="page-links">
                    <div class="page-link">
                        <a href="/">@T.GetMap(PageDefinitions.Home.PageTitle)</a>
                    </div>
                    <div class="page-link">
                        <a asp-page="@PageDefinitions.Products.PageName">@T.GetMap(PageDefinitions.Products.PageTitle, PageDefinitions.Products.Context)</a>
                    </div>
                    <div class="page-link">
                        <a asp-page="@PageDefinitions.Businesses.PageName">@T.GetMap(PageDefinitions.Businesses.PageTitle, PageDefinitions.Businesses.Context)</a>
                    </div>
                    @if (authService.IsLoggedIn())
                    {
                        <div class="page-link">
                            <a asp-page="@PageDefinitions.Admin.PageName">@T.GetMap(PageDefinitions.Admin.PageTitle)</a>
                        </div>
                    }
                </div>
            </div>
            <div class="content">
                @RenderBody()
            </div>
            <div class="footer">
                <div class="footer-item">
                    <a asp-page="@PageDefinitions.Contact.PageName">@T.GetMap(PageDefinitions.Contact.PageTitle, PageDefinitions.Contact.Context)</a>
                </div>
                <div class="footer-item">
                    <a href="~/sitemap" target="sitemap">@T.GetMap(PageDefinitions.SiteMap.PageName)</a>
                </div>
                <div class="footer-item">
                    版权所有&copy;2020-2022
                </div>
            </div>
        </div>
    </div>


    @RenderSection("Scripts", required: false)
</body>
</html>
