@inject IAuthService authService;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[Constants.PageTitle]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="column-container">
        <div class="center-column">
            <div class="header">
                <div class="site-title">@T.GetMap("Health Note")</div>
                <div class="page-links">
                    <a class="page-link" href="/">@T.GetMap(PageDefinitions.Home.PageTitle)</a>
                    @if (authService.IsLoggedIn())
                    {
                    <a class="page-link" asp-page="@PageDefinitions.Edit.PageName">@T.GetMap(PageDefinitions.Edit.PageTitle)</a>
                    }
                </div>
            </div>
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
