@inject IAuthService authService;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[Constants.PageTitle]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/models.js" asp-append-version="true"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    <script src="~/js/init.js" asp-append-version="true"></script>
</head>
<body>
    <div class="column-container">
        <div class="center-column">
            <div class="header">
                <div class="site-title">@T.GetMap("Health Note")</div>
                <div class="page-links">
                    <div class="page-link">
                        <a href="/">@T.GetMap(PageDefinitions.Home.PageTitle)</a>
                    </div>
                    <div class="page-link">
                        <a asp-page="@PageDefinitions.Sponsors.PageName">@T.GetMap(PageDefinitions.Sponsors.PageTitle, PageDefinitions.Sponsors.Context)</a>
                    </div>
                    @if (authService.IsLoggedIn())
                    {
                        <a asp-page="@PageDefinitions.Edit.PageName">@T.GetMap(PageDefinitions.Edit.PageTitle)</a>
                    }
                </div>
            </div>
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>


    @RenderSection("Scripts", required: false)
</body>
</html>
