@inject ISettings settings

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[Constants.PageTitle]</title>
    <meta name="description" content="生活影集 绚丽色彩">
    <link rel="icon" href="~/images/vibrant-gallery_192.png" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/bundle.js" asp-append-version="true"></script>
</head>
<body>
    <div class="header">
        <img src="~/images/vibrant-gallery.svg" class="logo" />
        <a class="header-link" href="/">@T.GetMap(@settings.SiteName)</a>
        <a class="header-link" href="/">@T.GetMap(PageDefinitions.Home.PageTitle)</a>
        @RenderSection(Constants.PageHeader, false)
    </div>
    <div class="content">
        @RenderBody()
    </div>
    <div class="footer">
        <div class="footer-item">
            <a asp-page="@PageDefinitions.Contact.PageName" target="@PageDefinitions.Contact.PageName" title="联络我们">联络我们</a>
        </div>
        <div class="footer-item">
            版权所有&copy;2020-2022
        </div>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>