@page
@inject ISettings settings
@inject ISiteInfoService siteInfoService
@model IndexModel
@{
    ViewData[Constants.PageTitle] = siteInfoService.GetPageTitle(PageDefinitions.Home.PageTitle);
}

@if (Model.IsLoggedIn)
{
    <div class="panel-tools">
        <form method="post">
            Ablbum Name <input type="text" required="required" name="albumName" /> &nbsp;
            Day Offset for Time Creation <input type="number" required="required" name="dayOffset" value="0" />
            <button asp-page-handler="CreateAlbum">@Model.CreateAlbumButtonText</button>
        </form>
    </div>
}

<div class="albums">
    @if (Model.AlbumDays.HasAlbumsForFullDetails)
    {
        foreach (var albumDay in Model.AlbumDays.ForFullDetails)
        {
            <div class="album-day">
                <div class="album-day-title">@albumDay.Key.ToString("yyyy-MM-dd")</div>
                <div class="album-day-container">

                    @foreach (var album in albumDay.Value)
                    {
                        <div class="album-block">
                            <a class="album-title" href="/albums/@album.Name" target="@album.Name">
                                @album.Name
                                @if (Model.IsLoggedIn && album.Visibility == Visibility.Private)
                                {
                                    <span class="red"> &nbsp; (hidden)</span>
                                }
                            </a>

                            <img class="copy-album-url-icon" src="~/images/copy.svg"
                                 onclick="javascript: album.copyHyperLink('spn_@album.Name');" />

                            <span class="invisible" id="spn_@album.Name">@Html.Raw(@$"albums/{album.Name}")</span>


                            @if (album.HasUploadImages)
                            {

                                <div class="album-images">

                                    @foreach (var uploadImage in album.FirstFour)
                                    {

                                        <img onclick="window.open('/albums/@album.Name','@album.Name')" src="/images/@uploadImage.IconUriPath" alt="@uploadImage.ProcessedFileName" />
                                    }

                                </div>

                            }
                        </div>
                    }
                </div>
            </div>
        }
    }

    @if (Model.AlbumDays.HasAlbumsForTextLinksOnly)
    {

    }
</div>

<div id="tooltip" style="display:none;">
    <div id="tooltip-content"></div>
    <button onclick="javascript: album.copyToolTip();">@T.GetMap("Copy URL")</button>
    <button onclick="javascript: album.hideToolTip();">@T.GetMap("Close")</button>
</div>

@section PageHeader
{

}