@page
@model IndexModel
@{
    ViewData[Constants.PageTitle] = @T.GetMap(PageDefinitions.Home.PageTitle);
}

@if (Model.IsLoggedIn)
{
    <div class="panel-tools">
        <form method="post">
            Ablbum Name <input type="text" required="required" name="albumName" /> &nbsp;
            Day Offset for Time Creation <input type="number" required="required" name="dayOffset" value="0" />
            <button asp-page-handler="CreateAlbum">@Model.CreateAlbumButtonText</button>
        </form>
    </div>
}

<div class="albums">
    @if (Model.AlbumDays.HasAlbumsForFullDetails)
    {
        foreach (var albumDay in Model.AlbumDays.ForFullDetails)
        {
            <div class="album-day">
                <div class="album-day-title">@albumDay.Key.ToString("yyyy-MM-dd")</div>
                @foreach (var album in albumDay.Value)
                {
                    <a class="album-day-box-title" href="/album/@album.Name" target="@album.Name"> @album.Name </a>
                    <div class="album-day-box">
                        @if (album.HasUploadImages)
                        {
                            foreach (var uploadImage in album.SortedUploadImages)
                            {
                                <div class="album-image">
                                    <a href="/images/@uploadImage.UriPath" target="@uploadImage.ProcessedFileName">
                                        <img class="album-image-thumb" src="/images/@uploadImage.IconUriPath" alt="@uploadImage.ProcessedFileName" />
                                    </a>
                                    <div class="album-image-footer" id="@uploadImage.ProcessedFileName">
                                        <button onclick="javascript: album.showToolTip(service.getUrl(@Html.Raw(@$"'images/{uploadImage.UriPath}'")), '@uploadImage.ProcessedFileName');">URL</button>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
        }
    }

    @if (Model.AlbumDays.HasAlbumsForTextLinksOnly)
    {

    }
</div>

<div id="tooltip" style="display:none;">
    <div id="tooltip-content"></div>
    <button onclick="javascript: album.copyToolTip();">Copy</button>
    <button onclick="javascript: album.hideToolTip();">Close</button>
</div>

@section PageHeader
{
    <a class="header-link" href="/">@T.GetMap(PageDefinitions.Home.PageTitle)</a>
}