@page "{title?}"
@model AdminModel
@{
    Layout = null;
    ViewData[Constants.PageTitle] = @T.GetMap(PageDefinitions.Admin.PageTitle);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[Constants.PageTitle]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/layout.css" />
        <link rel="stylesheet" href="~/css/admin.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/admin.min.css" asp-append-version="true" />
    </environment>


    <link rel="stylesheet" href="~/jodit/jodit.min.css" />
    <script src="~/jodit/jodit.min.js"></script>
    <script src="~/js/post-editor.js" asp-append-version="true"></script>
    <script src="~/js/bundle.js" asp-append-version="true"></script>
    <script src="~/js/init.js" asp-append-version="true"></script>
</head>
<body class="admin-body">
    <div class="admin-left">
        <div class="form-row">
            Keywords
            <input type="text" id="edit-post-search-keywords" />
        </div>
        <div class="form-row">
            <button onclick="adminScreen.loadPostInfoEntriesByKeywords()">Search</button>
            <button onclick="adminScreen.loadLatestPostInfoEntries()">Load Latest Posts</button>
        </div>
        <div class="form-row" id="edit-post-list"></div>
    </div>

    <div class="admin-main">
        <div class="admin-forms">

            @if (Model.PostInEdit != null)
            {
                <div class="form-row">
                    <button onclick="adminScreen.createPost()">Create New Post</button>
                </div>
                <div class="form-row"><lable>Published <input type="checkbox" asp-for="PostInEdit.IsPublished" /></lable></div>
                <div class="form-row">Title <input type="text" size="100" asp-for="PostInEdit.Title" /></div>
                <div class="form-row">
                    <div class="tag-line-element">
                        <input id="edit-new-tag" type="text" size="40" />
                    </div>
                    <div class="tag-line-element">
                        <button onclick="adminScreen.addNewTags()">Add New Tags</button>
                    </div>
                    <div class="tag-line-element">
                        <span style="margin-left:20px">Add from existing tags</span>
                        <select id="edit-all-tags" onchange="adminScreen.selectTag()">
                        </select>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="form-row">
                    <div class="tag-line-element"><div id="edit-tags"></div></div>
                    <div class="clear"></div>
                </div>
                <div class="new-line-label">
                    Abstract
                </div>
                <div class="form-row">
                    <textarea cols="80" rols="3" asp-for="PostInEdit.Abstract"></textarea>
                </div>
                <div class="new-line-label">
                    Content
                </div>
                <div class="form-row black">
                    <textarea id="post-eidtor-content" name="post-eidtor-content"></textarea>
                </div>
                <div class="form-row"><lable>Sticky <input type="checkbox" asp-for="PostInEdit.IsSticky" /></lable></div>
                <div class="form-row">
                    <button onclick="adminScreen.upsertPost()">@Model.SubmitButtonText</button>
                </div>
                <div id="post-submit-result" class="form-row"></div>
                <input type="hidden" asp-for="PostInEdit.Content" />
                <input type="hidden" asp-for="PostInEdit.Key" />
                <input type="hidden" asp-for="PostInEdit.TagsInText" />
                <input type="hidden" asp-for="AllTagsInText" />

                @if (Model.IsExistingPost)
                {
                    <div class="form-row">
                        <form method="post" enctype="multipart/form-data">
                            <input type="file" required="required" name="files" multiple="multiple" accept="image/*" />
                            <input type="hidden" asp-for="ExistingPostKey" />
                            <input type="hidden" asp-for="ExistingPostUrlFriendlyTitle" />
                            <button asp-page-handler="UploadImages">Upload Images</button>
                        </form>
                    </div>

                    @if (Model.PostInEdit.Images != null)
                    {
                        <div class="post-images">
                            @foreach (var postImage in Model.PostInEdit.Images)
                            {
                                var url = $"/posts/{Model.PostInEdit.UrlFriendlyTitle}/images/{postImage.DisplayName}";
                                var urlField = $"admin-post-image-{postImage.DisplayName}";
                                var messageField = $"admin-post-image-copied-{postImage.DisplayName}";
                                var deleteFailedMessageField = $"admin-post-image-failed-to-delete-{postImage.DisplayName}";
                                <div class="post-image">
                                    <img onclick="adminScreen.copyPostImageUrl('@urlField','@messageField')" src="@url" alt="@url" />
                                    <div>
                                        <a class="dotted-underline" href="javascript:adminScreen.copyPostImageUrl('@urlField','@messageField')">Copy Link</a>
                                        <div id="@urlField" class="url-field">@url</div>
                                        <div id="@messageField" class="link-copied" style="display:none;">Copied!</div>
                                        <div id="@deleteFailedMessageField" class="failed-delete" style="display:none;"></div>
                                        <a href="javascript:adminScreen.deletePostImage('@Model.PostInEdit.UrlFriendlyTitle','@postImage.Key','@deleteFailedMessageField')">Delete</a>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                }
            }

        </div>

    </div>

</body>
</html>

