@page
@model IndexModel
@{
    ViewData[Constants.PageTitle] = @T.GetMap(PageDefinitions.Home.PageTitle);
}

<div class="search-box">
    <input type="text" id="home-search-box"
           onkeyup="homeScreen.onSearchBoxUpdated()"
           onfocus="homeScreen.onSearchBoxFocused()"
           onblur="homeScreen.onSearchBoxBlurred()"
           oncompositionend="homeScreen.onSearchBoxUpdated()"
           oninput="homeScreen.onSearchBoxUpdated()"/>
    <button onclick="homeScreen.startSearch()">@T.GetMap("Search")</button>
</div>

@if (!(Model.LatestPosts is null))
{
    foreach (var post in Model.LatestPosts)
    {
        <div class="post-info-entry-card">
            <div class="date-area">
                <div class="day">@post.DayCreated</div>
                <div class="month">@post.MonthCreated</div>
            </div>
            <div class="post-info-area">

                <a class="post-title" asp-page="@PageDefinitions.Posts.PageName" asp-route-title="@post.UrlFriendlyTitle" target="@post.UrlFriendlyTitle">@post.Title</a>

                <a class="post-abstract" asp-page="@PageDefinitions.Posts.PageName" asp-route-title="@post.UrlFriendlyTitle" target="@post.UrlFriendlyTitle">@post.Abstract</a>

                <div class="open-links">
                    <a href="javascript:homeScreen.displayFullContent('@post.Title','@post.UrlFriendlyTitle')" title="@T.GetMap("Click to read full article", "home")">@T.GetMap("Read full article", "home")</a>
                    <a href="~/posts/@post.UrlFriendlyTitle" title="@T.GetMap("Open article in new window", "home")" target="@post.UrlFriendlyTitle">@T.GetMap("Open article in new window", "home")</a>
                </div>

                <div id="div-@post.UrlFriendlyTitle" class="post-content-collapse" title="@T.GetMap("Click to read full article", "home")"
                     onclick="homeScreen.displayFullContent('@post.Title','@post.UrlFriendlyTitle')">
                    @Html.Raw(post.Content)
                </div>

                @if (post.HasTags)
                {
                    <div class="post-tags">
                        <div class="post-tag-label">@T.GetMap("Tags")</div>
                        @foreach (var tag in post.Tags)
                        {
                            <div class="post-tag">
                                <a href="javascript:homeScreen.searchByTag('@tag')">@tag</a>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    }
}

<div id="home-search-dropdown" class="search-dropdown">
    <div class="search-dropdown-header">
        <div class="title">
            @T.GetMap("Search Result")
        </div>
        <img class="close" src="~/images/delete.svg" title="@T.GetMap("Close","home")" onclick="homeScreen.hideSearchdropDown()" />
    </div>
    <div id="home-search-dropdown-content" class="search-dropdown-content">
    </div>
</div>

<div id="modal-full-article" class="modal-mask">
    <div class="modal">
        <div class="modal-header">
            <div id="modal-post-title" class="modal-title">
            </div>
            <img class="modal-close" src="~/images/delete.svg" title="@T.GetMap("Close","home")" onclick="homeScreen.collapseFullContent()" />
        </div>
        <div class="modal-content">
            <div id="modal-post-content" class="modal-content-body">
            </div>
        </div>
    </div>
</div>

