@page
@model IndexModel
@{
    ViewData[Constants.PageTitle] = @T.GetMap(PageDefinitions.Home.PageTitle);
}

@if (!(Model.LatestPosts is null))
{
    foreach (var post in Model.LatestPosts)
    {
        <div>
            <a asp-page="@PageDefinitions.Posts.PageName" asp-route-article="@post.UrlFriendlyTitle" target="@post.UrlFriendlyTitle">@post.Title</a>
        </div>
    }
}