@page "{title?}"
@model Blog.Web.PostsModel
@{
    ViewData[Constants.PageTitle] = Model.PageTitle; // No need to do text mapping
}


@if (Model.PostInDisplay != null)
{
    <div class="post-screen">
        <div class="post-title-area">
            <div class="post-title">
                @Model.PostInDisplay.Title
            </div>
            <div class="date-created">
                @Model.PostInDisplay.DateCreated
            </div>
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.PostInDisplay.Abstract))
        {
            <div class="post-abstract">
                @Model.PostInDisplay.Abstract
            </div>
        }
        @if (Model.PostInDisplay.HasTags)
        {
            <div class="post-tags">
                <div class="post-tag-label">@T.GetMap("Tags")</div>
                @foreach (var tag in Model.PostInDisplay.Tags)
                {
                    <div class="post-tag">
                        @tag
                    </div>
                }
            </div>
        }
        <div class="post-content">
            @Html.Raw(Model.PostInDisplay.CorrectedContent)
        </div>
    </div>

    @if (Model.MorePosts != null && Model.MorePosts.Any())
    {
        <div class="more-posts">
            <div class="group-title">更多帖子</div>
            <ul>
                @foreach (var post in Model.MorePosts)
                {
                    <li>
                        <a href="~/posts/@post.UrlFriendlyTitle" target="@post.UrlFriendlyTitle">@post.Title</a>
                    </li>
                }
            </ul>
        </div>
    }
}

